
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="tr" />
    <meta name="description" content="En güncel Teknoloji Haberlerini burada bulabilirsiniz." />
    <meta name="keywords" content="teknoloji, teknoloji haberleri, haberler, güncel teknoloji haberleri " />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width" />
    <title>BenKimim?</title>
    <link href="~/Content/indexcss/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/indexcss/1-col-portfolio.css" rel="stylesheet" />
    <link href="~/Content/benkimimcss/css.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Yonlendir_AnaSayfa">Sametsenturk.com</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="~/Home/Yonlendir_AnaSayfa">Ana Sayfa</a>
                    </li>
                    <li>
                        <a href="~/Home/Yonlendir_Ben">Ben Kimim ?</a>
                    </li>
                    <li>
                        <a href="~/Home/Yonlendir_Iletisim">İletişim</a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>

    <div class="row">

        <div class="col-lg-5">
            <div class="media">
                <a class="pull-left" href="~/Home/Yonlendir_Iletisim">
                    <img class="media-object dp img-circle" src="~/Content/benkimimcss/resim.jpg" style="width: 100px;height:100px;">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Abdulsamet Şentürk <small> Turkey</small></h4>
                    <h5>.NET Developer</h5>
                    <hr style="margin:8px auto">
                    <span class="label label-warning">HTML5/CSS3</span>
                    <span class="label label-primary">C#</span>
                    <span class="label label-info">Asp.Net MVC</span>
                    <span class="label label-success">MsSql/MySql/MsAccess</span>
                    <span class="label label-danger">PHP</span>
                </div>
            </div>
        </div>

    </div>


</body>
</html>
